* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: black;
    font-family: 'Libre Baskerville', serif;
}

.header {
     padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 26pt;
    letter-spacing: 4px;
    font-family: 'Libre Baskerville', serif;
    color: black;
    margin-bottom: 80px;
    background-color: #E3F6DD;
}

body {
    background-color: #E3F6DD;
    /* font-size: larger; */

}

.top-bar {
    display: none;
}

.top-bar .top-menu li a{
    margin: 10px;
    border-radius: 5px;
}

.top-menu li a:hover {
    background: #E3F6DD;
    color: #3D693E;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.vertical-bar {
    width: 250px;
    background: #3D693E;
    height: 220.48px;
    border-radius: 25px;
    position: relative;
    margin: 15px 80px 0px 130px;
    grid-column-start: 3;
    grid-row-start: 1;
    
}


.vertical-bar .menu {
    /* padding-left: 25px; */
    padding: 25px;
    

}

.vertical-bar .menu li a {
    display: block;
    padding: 15px;
    color: #fff;
    letter-spacing: 2px;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    font-family: 'Libre Baskerville', serif;
    /* margin-bottom: 1px; */
    text-align: center;
    border-radius: 25px;

}

.vertical-bar .menu li a:hover
{
    background: #E3F6DD;
    color: #3D693E;
}

section {
    display: block;
    border-radius: 35px;
    padding: 60px;
}

.section1 {
    background-color: cornsilk;
    /* margin: 40px 440px 100px 440px; */
    max-width: 500px;
    grid-column-start: 2;
    
}

/* .section2 {
    margin: 40px 500px 20px 500px;
}

.section2 ul {
    background-color: cornsilk;
    border-radius: 35px;
    padding: 60px;
} */

.section1 a {
    color: #E3F6DD;
    background-color: #3D693E;
    padding: 10px 20px 10px 20px;
    border-radius: 35px;
}

.section3 a {
    color: #E3F6DD;
    background-color: #3D693E;
    padding: 30px;
    border-radius: 20px;
}

section a:hover {
    background-color: #528252;
    color:#bbd8b3

}

section h2, section h1 {
    margin-bottom: 50px;
}

/* section li {
    padding: 30px 0px 30px 0px;
} */

.section3 h1 {
    margin-bottom: 90px;
}

/* .section4 p {
    background-color: cornsilk;
    border-radius: 35px;
    padding: 60px;
    margin: 0px 110px 100px 110px;
} */

.section3 {
    margin-bottom: 100px;
    grid-column-start: 2;
}

.footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(254, 253, 240);
    margin: 30px 0px 0px 0px;
    font-size: small;
}

@media (max-width: 1250px) {
    .vertical-bar {
        display: none;
        
    }

    .top-bar {
        display: flex; 
        background-color: #3D693E;
        padding: 20px;
        text-decoration: none;
    }

    .top-menu {
        display: flex;
    }

    .top-bar ul {
        list-style: none;
        
    }
    
    .top-bar li a {
        padding: 10px;
        color: white;
        
    };

    .top-menu a:hover {
         background: #E3F6DD;
    color: #3D693E;
    }
}

@media (max-width: 1394px) {
    .section1  {
        font-size: 12pt;
    }
}

@media (max-width: 1260px) {
    .section1  {
        font-size: 10pt;
    }
}

@media (max-width: 700px) {
    .header {
        font-size: 23pt;
    }

    .section3 h1 {
        font-size: 23pt;
    }

    .section3 h3 {
        font-size: 14pt;
    }
}

@media (max-width: 570px) {
    .header {
        font-size: 20pt;
    }

    .grid {
        display: block;
    }

    .section1 {
        font-size: 9pt;
    }

    section {
        padding: 40px;
    }

      .section3 h1 {
        font-size: 20pt;
    }

     .section3 h3 {
        font-size: 12pt;
    }
}

@media (max-width: 500px) {
    .header {
        font-size: 18pt;
    }
}

@media (max-width: 460px) {
  /* .section1 {
        font-size: 7pt;
    } */
     section {
        padding: 35px;
    }
}

@media (max-width: 450px) {
    .header {
        font-size: 16pt;
    }

    /* .section1 {
        font-size: 7pt;
    } */

       .section3 h1 {
        font-size: 18pt;
    }
}

@media (max-width: 413px){
    .section3 h1 {
        font-size: 17pt;
    }
}

@media (max-width: 410px) {
    .header {
        font-size: 14pt;
    }
    
    section {
        padding: 32px;
    }
}

@media (max-width: 386px){
    .section3 h1 {
        font-size: 16pt;
    }
}

@media (max-width: 371px) {
    .header {
        font-size: 12pt;
    }
     section {
        padding: 28px;
    }

    .section3 h1 {
        font-size: 15pt;
    }
}

@media (max-width: 328px) {
    .header {
        font-size: 10pt;
    }
     section {
        padding: 25px;}
}